<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- BookRepository bean -->
    <bean id="bookRepository" class="com.library.repository.BookRepository">
        <property name="dbName" value="LibraryDB" />
    </bean>

    <!-- BookService bean with both constructor and setter injection -->
    <bean id="bookService" class="com.library.service.BookService">
        <!-- Constructor injection -->
        <constructor-arg value="Central Library Service" />

        <!-- Setter injection -->
        <property name="bookRepository" ref="bookRepository" />
    </bean>

</beans>
